<!-- Menu Modal -->
<div id="menuOverlay" class="menu-overlay" role="dialog" aria-modal="true" aria-labelledby="menuTitle" style="display: none;">
    <div class="menu-modal">
        <div class="menu-header">
            <img src="/icons/close.svg" width="26" height="26" id="closeMenuBtn" aria-label="Close menu" style="cursor: pointer;">
        </div>
        <div class="menu-content">
            <section class="stack">
                <div class="en hello">Hey there, <br> this is hakchips 🍪</div>
                <p class="en h2--M">We're super happy to meet you!</p>
              </section>
      
              <nav class="stack">
                <a class="en btn h3--B" href="/services/instagram/">
                  <span>Instagram Feed Preview</span>
                </a>
                <a class="en btn h3--B" href="/services/subway/">
                  <span>Subway Calorie Calculator</span>
                </a>
              </nav>
        </div>
    </div>
</div>

