@layer components {

  /* <Header 1> */
  .h1--B{
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.2%;
  }
  .h1--M{
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: -0.2%;
  }

  /* <Header 2> */
  .h2--B{
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2%;
  }
  .h2--M{
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.2%;
  }

  /* <Header 3> */
  .h3--B{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2%;
  }
  .h3--M{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.2%;
  }

  /* <Header 4> */
  .h4--B{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
  }
  .h4--M{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .h4--R{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .h4--L{
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  /* <Body 1> */
  .b1--B{
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .b1--M{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .b1--R{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
  }
  .b1--L{
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0%;
  }

  /* <Body 2> */
  .b2--B{
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .b2--M{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .b2--R{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }
  .b2--L{
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
  }

  /* <Caption 1> */
  .c1--B{
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .c1--M{
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .c1--R{
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .c1--L{
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0%;
  }

  /* <Caption 2> */
  .c2--B{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .c2--M{
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .c2--R{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
  }
  .c2--B{
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
  }

  /* <Badge 1> */
  .bg1--M{
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0%;
  }
  .bg1--R{
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0%;
  }

  /* <Badge 2> */
  .bg2--M{
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
  }
  
  .bg2--R{
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
  }
}